@import "./assets/style/reset.css";
@import "./assets/style/default.css";
@import "./assets/style/header.css";
@import "./assets/style/footer.css";
@import "./assets/style/main.css";
@import "./assets/style/application.css";
@import "./assets/style/download.css";


:root {
	--accent-color: #FA4A0C;
	--text-color: #737373;
	--second-bg-color: #252B42;
	--head-font-title: 'Poppins'sans-serif;

	--head-icon-margin: calc(100% - 32px);
	--head-title-font-size: calc(2.25rem + 14 * (100vw - 320px) / (1440 - 320));

	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}