.main{
	/* display: flex; */
}

.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 5px;
}

.main-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.main-section > h6{
	margin-top: 3.1rem;
	font-size: 1rem;
	font-weight: 700;
	color: var(--text-color);
}

.main-title {
	max-width: 940px;
	padding: 10px;
	font-size: 2.25rem;
	font-family: var(--head-font-title);
	font-weight: 700;
	line-height: 42.5px;
}

.main-section .mod-paragraph {
	padding: 10px;
}

.main-btn{
	display: flex;
	flex-direction : column;
	align-items: center;
	margin-top: 2.2rem;
}

.main-btn > .btn-transparent{
	margin-top: 17px;
}

.main-img{
	display: flex;
	width: 100%;
	margin-top: 2.5rem;
	justify-content: center;
}

.main-img > img{
	max-width: 50%;
	filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
}

.main-img > img:last-child{
	margin-top: 50px; 
	margin-left: -30px;
	z-index: -1;
}

@media screen and (min-width: 700px) {
	.main-btn {
		display: flex;
		flex-direction : row;
		margin-top: 3.2rem;
	}
	
	.main-btn > .btn-transparent{
		max-width: 250px;
		margin-top: 0;
		margin-left: 2.5rem;
	}

  }


